Django==5.1.15
djangorestframework==3.15.2
django-filter==24.3
psycopg2-binary==2.9.11
django-environ==0.11.2
django-cors-headers==4.6.0
stripe==11.4.1
requests==2.32.3
celery[redis]==5.4.0
django-celery-beat==2.7.0
djangorestframework-simplejwt==5.4.0
Pillow==11.1.0
gunicorn==23.0.0
uvicorn[standard]==0.34.0
channels==4.2.0
channels-redis==4.2.1
django-storages[azure]==1.14.4
whitenoise==6.8.2
dj-database-url==2.3.0
sentry-sdk[django]==2.19.2
